@use "../theme/color" as *;

$shadow-map: (
  normal: $shadow-normal,
  emphasize: $shadow-emphasize,
  strong: $shadow-strong,
  heavy: $shadow-heavy,
);

@mixin shadow($type) {
  box-shadow: map-get($shadow-map, $type);
}
