@use "../../styles/index.scss" as *;

%bg-lightblue-interaction {
  &:hover:not(:disabled) {
    background-color: var(--button-lightblue-hover);
  }

  &:focus:not(:disabled) {
    background-color: var(--button-lightblue-focus);
  }

  &:active:not(:disabled) {
    background-color: var(--button-lightblue-active);
  }
}

%bg-gray-interaction {
  &:hover:not(:disabled) {
    background-color: var(--button-gray-hover);
  }

  &:focus:not(:disabled) {
    background-color: var(--button-gray-focus);
  }

  &:active:not(:disabled) {
    background-color: var(--button-gray-active);
  }

  &:disabled {
    border-color: $interaction-disable;
    color: $line-normal-normal;
  }
}

.button {
  display: flex;
  align-items: center;
  column-gap: 6px;
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out,
    border-color 150ms ease-in-out,
    filter 150ms ease-in-out;

  // size
  &--large {
    @include font("body-1-normal", "bold");
    height: 48px;
    padding: 12px 28px;
    border-radius: 10px;
  }

  &--medium {
    @include font("body-2-normal", "bold");
    height: 40px;
    padding: 9px 20px;
    border-radius: 8px;
  }

  &--small {
    @include font("label-1-normal", "bold");
    height: 32px;
    padding: 7px 14px;
    border-radius: 6px;
  }

  // solid
  &--solid-primary {
    background-color: $primary-normal;
    color: $static-white;

    &:hover:not(:disabled) {
      filter: brightness(1 - 0.075);
    }

    &:focus:not(:disabled) {
      filter: brightness(1 - 0.12);
    }

    &:active:not(:disabled) {
      filter: brightness(1 - 0.18);
    }

    &:disabled {
      background-color: $interaction-disable;
      color: $label-assistive;
    }
  }

  // outlined
  &--outlined-primary {
    background-color: transparent;
    color: $primary-normal;
    border: 1px solid $primary-normal;

    @extend %bg-lightblue-interaction;

    &:disabled {
      border-color: $interaction-disable;
      color: $line-normal-normal;
    }
  }

  &--outlined-secondary {
    background-color: $background-normal-normal;
    color: $primary-normal;
    border: 1px solid $line-normal-normal;

    @extend %bg-gray-interaction;
  }

  &--outlined-assistive {
    background-color: $background-normal-normal;
    color: $label-normal;
    border: 1px solid $line-normal-normal;

    @extend %bg-gray-interaction;
  }

  // text
  &--text-primary {
    color: $primary-normal;

    @extend %bg-lightblue-interaction;

    &:disabled {
      color: $line-normal-normal;
    }
  }

  &--text-assistive {
    color: $label-alternative;

    @extend %bg-gray-interaction;
  }
}
