@use "sass:math";
@use "../../../styles/index.scss" as *;

%disabled {
  color: $label-disable;

  .icon-button--interaction {
    pointer-events: none;
  }
}

.icon-button {
  position: relative;
  padding: 8px;
  border-radius: 50%;
  overflow: hidden;
  color: inherit;

  &:disabled {
    @extend %disabled;
  }

  .icon-button--icon {
    @include pos-center();
  }

  .icon-button--interaction {
    @include pos-center();
    width: 100%;
    height: 100%;
    transition: background-color 150ms ease-in-out;

    @include interaction("gray", "light");
  }

  .icon-button--push {
    $push-size: 4px;
    $icon-size: 24px;
    $push-position: math.div(($icon-size - $push-size), 2);

    @include pos-center();
    transform: translate($push-position, $push-position * -1);
  }

  // variant
  &--solid {
    background-color: $primary-normal;
    color: $static-white;

    &:disabled {
      background-color: $component-fill-normal;
    }
  }

  &--outlined {
    border: 1px solid $line-normal-normal;
    color: $label-normal;
  }

  &--background {
    background-color: $component-fill-normal;
    color: $label-alternative;
  }

  // size
  &--normal {
    width: 40px;
    height: 40px;
  }

  &--small {
    width: 32px;
    height: 32px;
  }
}
