@use "./color-light" as *;
@use "./color-dark" as *;

@function rgba-theme($color, $alpha) {
  @return rgba(red($color), green($color), blue($color), $alpha);
}

.light {
  --static-white: #{$static-white-light};
  --static-black: #{$static-black-light};

  --primary-normal: #{$primary-normal-light};
  --primary-strong: #{$primary-strong-light};
  --primary-heavy: #{$primary-heavy-light};

  --label-normal: #{$label-normal-light};
  --label-strong: #{$label-strong-light};
  --label-neutral: #{$label-neutral-light};
  --label-alternative: #{$label-alternative-light};
  --label-assistive: #{$label-assistive-light};
  --label-disable: #{$label-disable-light};

  --background-normal-normal: #{$background-normal-normal-light};
  --background-normal-alternative: #{$background-normal-alternative-light};
  --background-elevated-normal: #{$background-elevated-normal-light};
  --background-elevated-alternative: #{$background-elevated-alternative-light};

  --interaction-inactive: #{$interaction-inactive-light};
  --interaction-disable: #{$interaction-disable-light};

  --line-normal-normal: #{$line-normal-normal-light};
  --line-normal-neutral: #{$line-normal-neutral-light};
  --line-normal-alternative: #{$line-normal-alternative-light};
  --line-solid-normal: #{$line-solid-normal-light};
  --line-solid-neutral: #{$line-solid-neutral-light};
  --line-solid-alternative: #{$line-solid-alternative-light};

  --status-positive: #{$status-positive-light};
  --status-cautionary: #{$status-cautionary-light};
  --status-negative: #{$status-negative-light};

  --accent-lime: #{$accent-lime-light};
  --accent-cyan: #{$accent-cyan-light};
  --accent-lightBlue: #{$accent-lightBlue-light};
  --accent-violet: #{$accent-violet-light};
  --accent-purple: #{$accent-purple-light};
  --accent-pink: #{$accent-pink-light};

  --inverse-primary: #{$inverse-primary-light};
  --inverse-background: #{$inverse-background-light};
  --inverse-label: #{$inverse-label-light};

  --component-fill-normal: #{$component-fill-normal-light};
  --component-fill-strong: #{$component-fill-strong-light};
  --component-fill-alternative: #{$component-fill-alternative-light};
  --component-material-dimmer: #{$component-material-dimmer-light};

  --shadow-normal: #{$shadow-normal-light};
  --shadow-emphasize: #{$shadow-emphasize-light};
  --shadow-strong: #{$shadow-strong-light};
  --shadow-heavy: #{$shadow-heavy-light};

  --interaction-light-hover-blue: #{rgba-theme($primary-normal-light, 0.0375)};
  --interaction-light-focus-blue: #{rgba-theme($primary-normal-light, 0.06)};
  --interaction-light-active-blue: #{rgba-theme($primary-normal-light, 0.09)};

  --interaction-normal-hover-blue: #{rgba-theme($primary-normal-light, 0.05)};
  --interaction-normal-focus-blue: #{rgba-theme($primary-normal-light, 0.08)};
  --interaction-normal-active-blue: #{rgba-theme($primary-normal-light, 0.12)};

  --interaction-strong-hover-blue: #{rgba-theme($primary-normal-light, 0.075)};
  --interaction-strong-focus-blue: #{rgba-theme($primary-normal-light, 0.12)};
  --interaction-strong-active-blue: #{rgba-theme($primary-normal-light, 0.18)};

  --interaction-light-hover-gray: #{rgba-theme($label-normal-light, 0.0375)};
  --interaction-light-focus-gray: #{rgba-theme($label-normal-light, 0.06)};
  --interaction-light-active-gray: #{rgba-theme($label-normal-light, 0.09)};

  --interaction-normal-hover-gray: #{rgba-theme($label-normal-light, 0.05)};
  --interaction-normal-focus-gray: #{rgba-theme($label-normal-light, 0.08)};
  --interaction-normal-active-gray: #{rgba-theme($label-normal-light, 0.12)};

  --interaction-strong-hover-gray: #{rgba-theme($label-normal-light, 0.075)};
  --interaction-strong-focus-gray: #{rgba-theme($label-normal-light, 0.12)};
  --interaction-strong-active-gray: #{rgba-theme($label-normal-light, 0.18)};
}

.dark {
  --static-white: #{$static-white-dark};
  --static-black: #{$static-black-dark};

  --primary-normal: #{$primary-normal-dark};
  --primary-strong: #{$primary-strong-dark};
  --primary-heavy: #{$primary-heavy-dark};

  --label-normal: #{$label-normal-dark};
  --label-strong: #{$label-strong-dark};
  --label-neutral: #{$label-neutral-dark};
  --label-alternative: #{$label-alternative-dark};
  --label-assistive: #{$label-assistive-dark};
  --label-disable: #{$label-disable-dark};

  --background-normal-normal: #{$background-normal-normal-dark};
  --background-normal-alternative: #{$background-normal-alternative-dark};
  --background-elevated-normal: #{$background-elevated-normal-dark};
  --background-elevated-alternative: #{$background-elevated-alternative-dark};

  --interaction-inactive: #{$interaction-inactive-dark};
  --interaction-disable: #{$interaction-disable-dark};

  --line-normal-normal: #{$line-normal-normal-dark};
  --line-normal-neutral: #{$line-normal-neutral-dark};
  --line-normal-alternative: #{$line-normal-alternative-dark};
  --line-solid-normal: #{$line-solid-normal-dark};
  --line-solid-neutral: #{$line-solid-neutral-dark};
  --line-solid-alternative: #{$line-solid-alternative-dark};

  --status-positive: #{$status-positive-dark};
  --status-cautionary: #{$status-cautionary-dark};
  --status-negative: #{$status-negative-dark};

  --accent-lime: #{$accent-lime-dark};
  --accent-cyan: #{$accent-cyan-dark};
  --accent-lightBlue: #{$accent-lightBlue-dark};
  --accent-violet: #{$accent-violet-dark};
  --accent-purple: #{$accent-purple-dark};
  --accent-pink: #{$accent-pink-dark};

  --inverse-primary: #{$inverse-primary-dark};
  --inverse-background: #{$inverse-background-dark};
  --inverse-label: #{$inverse-label-dark};

  --component-fill-normal: #{$component-fill-normal-dark};
  --component-fill-strong: #{$component-fill-strong-dark};
  --component-fill-alternative: #{$component-fill-alternative-dark};
  --component-material-dimmer: #{$component-material-dimmer-dark};

  --shadow-normal: #{$shadow-normal-dark};
  --shadow-emphasize: #{$shadow-emphasize-dark};
  --shadow-strong: #{$shadow-strong-dark};
  --shadow-heavy: #{$shadow-heavy-dark};

  --interaction-light-hover: #{rgba-theme($label-normal-dark, 0.0375)};
  --interaction-light-focus: #{rgba-theme($label-normal-dark, 0.06)};
  --interaction-light-active: #{rgba-theme($label-normal-dark, 0.09)};

  --interaction-normal-hover: #{rgba-theme($label-normal-dark, 0.05)};
  --interaction-normal-focus: #{rgba-theme($label-normal-dark, 0.08)};
  --interaction-normal-active: #{rgba-theme($label-normal-dark, 0.12)};

  --interaction-strong-hover: #{rgba-theme($label-normal-dark, 0.075)};
  --interaction-strong-focus: #{rgba-theme($label-normal-dark, 0.12)};
  --interaction-strong-active: #{rgba-theme($label-normal-dark, 0.18)};
}

$static-white: var(--static-white);
$static-black: var(--static-black);

$primary-normal: var(--primary-normal);
$primary-strong: var(--primary-strong);
$primary-heavy: var(--primary-heavy);

$label-normal: var(--label-normal);
$label-strong: var(--label-strong);
$label-neutral: var(--label-neutral);
$label-alternative: var(--label-alternative);
$label-assistive: var(--label-assistive);
$label-disable: var(--label-disable);

$background-normal-normal: var(--background-normal-normal);
$background-normal-alternative: var(--background-normal-alternative);
$background-elevated-normal: var(--background-elevated-normal);
$background-elevated-alternative: var(--background-elevated-alternative);

$interaction-inactive: var(--interaction-inactive);
$interaction-disable: var(--interaction-disable);

$line-normal-normal: var(--line-normal-normal);
$line-normal-neutral: var(--line-normal-neutral);
$line-normal-alternative: var(--line-normal-alternative);
$line-solid-normal: var(--line-solid-normal);
$line-solid-neutral: var(--line-solid-neutral);
$line-solid-alternative: var(--line-solid-alternative);

$status-positive: var(--status-positive);
$status-cautionary: var(--status-cautionary);
$status-negative: var(--status-negative);

$accent-lime: var(--accent-lime);
$accent-cyan: var(--accent-cyan);
$accent-lightBlue: var(--accent-lightBlue);
$accent-violet: var(--accent-violet);
$accent-purple: var(--accent-purple);
$accent-pink: var(--accent-pink);

$inverse-primary: var(--inverse-primary);
$inverse-background: var(--inverse-background);
$inverse-label: var(--inverse-label);

$component-fill-normal: var(--component-fill-normal);
$component-fill-strong: var(--component-fill-strong);
$component-fill-alternative: var(--component-fill-alternative);
$component-material-dimmer: var(--component-material-dimmer);

$shadow-normal: var(--shadow-normal);
$shadow-emphasize: var(--shadow-emphasize);
$shadow-strong: var(--shadow-strong);
$shadow-heavy: var(--shadow-heavy);
